.alert{
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  &.danger{
    color: var(--danger-color);
    background-color: var(--danger);
    border-color: var(--danger-border);
  }
  &.sucess{
    color: var(--sucess-color);
    background-color: var(--sucess);
    border-color: var(--sucess-border);
  }
}