#schedules-address-form{
  main{
    margin-top: var(--space);
    .fields{
      &.zipcode{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .field{
          width: calc(50% - 10px);
        }
        #btn-search{
          @include button-gray;
          height: 69px;
        }
      }
    }
  }
}

@media (min-width: 992px){
  #schedules-address-form{
    main{
      form{
        width: 600px;
      }
      .fields{
        flex-direction: column;
        &.address-number{
          .field{
            width: 100%;
            &.first-child{
              flex: 1;
              width: initial;
            }
            &:last-child{
              width: 100px;
            }
          }
        }
        > .fields{
          flex-direction: row;

          .field{
            width: 100%;
          }
        }
      }
    }
  }
}